extends layout

block content
  h1 #{year} Results for #{state} #{district}
  div
    each val, i in info
      div  
        p.name #{val.candidate} 
        p.percent #{val.percent} 
        p.totals Net Campaign Contributions:
        p.money #{val.reciepts}
