extends layout

block content
  h1.header Results 
    div
      span.subHead Year:  
        span.result #{year}  
      span.subHead State:  
        span.result #{state}  
      span.subHead District:  
        span.result #{district} 
  div.content  
    each val, i in info
      table.info
        tr
          th.name #{val.candidate}
        tr
          if val.photo == 'Picture Unavailable'
            td
              img.photo(src='./images/no_image.png' height=130 width=105)
          else  
            td
              img.photo(src= val.photo height=130 width=105 alt='Image Unavailable')
        tr
          td
            button.showBio(type='submit' id= val.candidate) About
        tr
          td
            .bio #{val.bio}
        tr
          th.thead Vote Percentage
        tr
          td.percent #{val.percent}
        tr
          th.thead Net Campaign Contributions:
        tr
          td.money #{val.reciepts}
  
  script(src='../javascripts/dom.js')      
        
        
      
        
        
